
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      height: 100vh;
      display: grid;
      grid-template-rows: 60px auto;
      grid-template-columns: 1fr 300px;
      grid-template-areas:
        "filter filter"
        "main side";
      gap: 10px;
      background-color: #f5f5f5;
    }
    /* Left Panel for D3 visualization */
    #viz {
      flex: 3;
      background: #f8f8f8;
      display: flex;
      
     
      border-right: 1px solid #ddd;
    }
    /* Right Panel for filters/info */
    #checkbox-container {
      flex: 2;
      background: #fff;
      padding: 10px;
      overflow-y: auto;
    }
    h2 {
      margin-top: 0;
    }
    .line {
      fill: none;
      stroke-width: 2;
    }
    .tooltip {
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 15px;
      border-radius: 5px;
      visibility: hidden;
    }
    body {
      font-family: Arial, sans-serif;
      margin: 10px;
    }
    .country-container {
      width: 220px;
      height: 300px;
      overflow-y: scroll;
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 5px;
    }
    .country-item {
      display: flex;
      align-items: center;
      padding: 3px 0;
    }
    .country-item input {
      margin-right: 8px;
    }
    .filter {
      grid-area: filter;
      background: hwb(165 91% 6%);
      color: black;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .main {
      grid-area: main;
      background: white;
      padding: 20px;
      overflow-y: auto;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .side {
      grid-area: side;
      background: #fafafa;
      padding: 20px;
      border-left: 1px solid #ddd;
      overflow-y: auto;
    }

    #pie-chart {
      width: 400px;
      height: 400px;
      border: 1px solid #ccc;
      margin: 20px auto;
    }

    .annotation {
      font-size: 14px;
      font-weight: bold;
      fill: blue;
      text-anchor: "left";
    }

    /* Optional: make it responsive */
    @media (max-width: 768px) {
      body {
        grid-template-columns: 1fr;
        grid-template-areas:
          "filter"
          "main"
          "side";
      }
    }


     @media (max-width: 768px) {
      body {
        grid-template-columns: 1fr;
        grid-template-areas:
          "filter"
          "main"
          "side";
      }

